<aside data-controller="cart" data-action="cart-show@window->cart#show" class="fixed right-0 top-0 z-[1035] h-screen w-60 hidden overflow-hidden bg-white shadow-[0_4px_12px_0_rgba(0,0,0,0.07),_0_2px_4px_rgba(0,0,0,0.05)] dark:bg-zinc-800">
  <div class="flex justify-between items-center text-gray-800 px-6 py-4">
    <h3>Cart</h3>
    <button type="button" class="hover:text-gray-900" data-action="click->cart#hide">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="flex flex-col items-center justify-between gap-6 px-6 py-6 text-gray-800">
    <p class="text-sm">Your Cart is currently empty</p>
  </div>
</aside>
