
<footer class="bg-neutral-100 text-center text-neutral-600 dark:bg-neutral-600 dark:text-neutral-200 lg:text-left">
  <div class="flex items-center justify-center border-b-2 border-neutral-200 p-6 dark:border-neutral-500 lg:justify-between">
    
    <div class="mr-12 hidden lg:block">
      <span>Get connected with us on social networks:</span>
    </div>

    <div class="flex justify-center">
      <%= link_to "https://www.facebook.com", class: "mr-6", target: "_blank" do %>
        <i class="fa-brands fa-facebook-f"></i>
      <% end %>
      <%= link_to "https://www.facebook.com", class: "mr-6", target: "_blank" do %>
        <i class="fa-brands fa-twitter"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/in/wuletaw-wonte", class: "mr-6", target: "_blank" do %>
        <i class="fa-brands fa-linkedin"></i>
      <% end %>
      <%= link_to "https://github.com/wuletawwonte", class: "mr-6", target: "_blank" do %>
        <i class="fa-brands fa-github"></i>
      <% end %>
    </div>
  </div>

  <div class="mx-6 py-10 text-center md:text-left">
    <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">

      <div>
        <h6
          class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">
          <i class="fa-solid fa-box mr-3"></i>
          Shopping Adventure
        </h6>
        <p>          
          Discover a world of endless possibilities with our curated 
          selection of premium products, all designed to elevate your 
          shopping experience.
        </p>
      </div>

      <div>
        <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">Products</h6>
        <p class="mb-4">
          <a href="#!" class="text-neutral-600 dark:text-neutral-200">Ruby on Rails</a>
        </p>
        <p class="mb-4">
          <a href="#!" class="text-neutral-600 dark:text-neutral-200">Javascript</a>
        </p>
        <p class="mb-4">
          <a href="#!" class="text-neutral-600 dark:text-neutral-200">StimulusJS</a>
        </p>
        <p>
          <a href="#!" class="text-neutral-600 dark:text-neutral-200">ViewComponent</a>
        </p>
      </div>

      <div>
        <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">Useful links</h6>
        <p class="mb-4">
          <a href="#!" class="text-neutral-600 dark:text-neutral-200">Pricing</a>
        </p>
        <p class="mb-4">
          <a href="#!" class="text-neutral-600 dark:text-neutral-200">Settings</a>
        </p>
        <p class="mb-4">
          <a href="#!" class="text-neutral-600 dark:text-neutral-200">Orders</a>
        </p>
        <p>
          <a href="#!" class="text-neutral-600 dark:text-neutral-200">Help</a>
        </p>
      </div>

      <div>
        <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">Contact</h6>
        <p class="mb-4 flex items-center justify-center md:justify-start">          
          <i class="fa-solid fa-house mr-3"></i>
          Arbaminch, KS 10012, Ethiopia
        </p>
        <p class="mb-4 flex items-center justify-center md:justify-start">
          <i class="fa-solid fa-envelope mr-3"></i>
          info@example.com
        </p>
        <p class="mb-4 flex items-center justify-center md:justify-start">
          <i class="fa-solid fa-phone mr-3"></i>
          + 01 234 567 88
        </p>
      </div>
    </div>
  </div>

  <div class="bg-neutral-200 p-6 text-center dark:bg-neutral-700">
    <span>© 2023 Copyright:</span>
    <a class="font-semibold text-neutral-600 dark:text-neutral-400" href="https://wuletawwonte.com/" target="_blank">
      Wuletaw Wonte
    </a>
  </div>
</footer>