<div class="flex pl-24 pr-24 h-8 border items-center justify-between text-gray-900 dark:text-white">
  <span class="flex items-center">
    <i class="fa-solid fa-envelope mr-1"></i>
    <a href="mailto:wuletawwonte@gmail.com">wuletawwonte@gmail.com</a>
  </span>

  <span class="flex gap-4">
    <%= link_to "https://www.facebook.com", target: "_blank" do %>
      <i class="fa-brands fa-facebook-f"></i>
    <% end %>
    <%= link_to "https://www.facebook.com", target: "_blank" do %>
      <i class="fa-brands fa-twitter"></i>
    <% end %>
    <%= link_to "https://www.facebook.com", target: "_blank" do %>
      <i class="fa-brands fa-linkedin"></i>
    <% end %>
    <%= link_to "https://www.facebook.com", target: "_blank" do %>
      <i class="fa-brands fa-github"></i>
    <% end %>


  </span>

</div>
